// Colors
$color-primary-900: #ff7b10;
$color-primary-800: #ff9918;
$color-primary-700: #ffa91c;
$color-primary-600: #ffbc21;
$color-primary-500: #ffca27;
$color-primary-400: #ffd23b;
$color-primary-default: #ffdc5b;
$color-primary-200: #feefb7;
$color-primary-100: #ffe58a;
$color-primary-50: #fff9e3;
$color-muted-lighter: #a3a3a3;
