// Colors
$color-primary-900: #ff7b10;
$color-primary-800: #ff9918;
$color-primary-700: #ffa91c;
$color-primary-600: #ffbc21;
$color-primary-500: #ffca27;
$color-primary-400: #ffd23b;
$color-primary-default: #ffdc5b;
$color-primary-200: #feefb7;
$color-primary-100: #ffe58a;
$color-primary-50: #fff9e3;
$color-muted-lighter: #a3a3a3;

$color-secondary-default: #d01252;
$color-secondary-50: #f9e3ea;
$color-secondary-100: #f1b8cb;
$color-secondary-200: #e889a9;
$color-secondary-300: #de5986;
$color-secondary-400: #d7366c;
$color-secondary-500: #d01252;
$color-secondary-600: #cb104b;
$color-secondary-700: #c40d41;
$color-secondary-800: #be0a38;
$color-secondary-900: #b30528;
$color-secondary-A100: #ffdde2;
$color-secondary-A200: #ffaab7;
$color-secondary-A400: #ff778b;
$color-secondary-A700: #ff5e76;