html[data-theme='light'] {
  color: black;
  --bg: #FCFCFC;
  --bg-container: #EBEBEB;
  --bg-sub-element: #d3d3d3;
  --color-text: #333333;
  --color-header: #D7D7D7;
  --bg-signup-tab-inactive: #d3d3d3;
  --color-nav-link: #ff7b10;
  --color-h2: black;
  --color-navbar-brand: #ff9918;
  --color-toggle-theme-icon: black;
  /*-- Datatables --*/
  --even-row-background-color: #bdbdbd; }

html[data-theme='dark'] {
  color: white;
  --bg: #121212;
  --bg-container: #272727;
  --bg-sub-element: #3C3C3C;
  --color-text: #fff;
  --color-header: #212121;
  --bg-signup-tab-inactive: #1c1c1c;
  --color-nav-link: #ffbc21;
  --color-h2: #ffca27;
  --color-navbar-brand: #ffdc5b;
  --color-toggle-theme-icon: #ffca27;
  /*-- Datatables --*/
  --even-row-background-color: #363636; }

#DtBooks, #DtMyBooks {
  color: var(--color-text);
  border-top-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-sub-element);
  padding-bottom: 5px;
  border-collapse: separate;
  margin-bottom: 10px; }

div#DtBooks_info.dataTables_info,
div#DtMyBooks_info.dataTables_info {
  color: #666 !important; }

.dataTables_length {
  color: #a3a3a3; }

table.dataTable thead th {
  border: none; }

table.dataTable td {
  border: none; }

table.dataTable .even {
  background-color: var(--even-row-background-color); }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: inherit; }

.datatable-navbar {
  border-color: var(--bg-sub-element);
  border: unset; }

.datatable-tab {
  z-index: 1; }
  .datatable-tab a .nav-link {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px; }

.nav-tabs a.nav-link {
  border: unset; }
  .nav-tabs a.nav-link.active {
    background-color: var(--bg-sub-element);
    color: var(--color-text); }

.nav-tabs a.nav-link:hover {
  border: unset;
  color: white; }

.nav-tabs .nav-item {
  margin-bottom: -2px; }
