@import './_colors.scss';
@import './_themes.scss';

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  background-color: var(--bg);
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: "Roboto", sans-serif;
  color: var(--color-text);
}

.body-container {
  background-color: var(--bg-container);
  border-radius: 8px;
}

.header-background-color {
  background-color: var(--color-header);
  /*#212121;*/
}

nav.body-container {
  border-radius: unset;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-link {
  color: var(--color-nav-link);
}

h2,
.p-500 {
  color: var(--color-h2);
}

.navbar-brand {
  color: var(--color-navbar-brand);
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.hover-white:hover {
  color: white !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.elevation-2dp {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
}

.elevation-4dp {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  background-color: var(--bg-container);
  line-height: 60px; /* Vertically center the text there */
}

/* Login/Sign Up Form */
div.login-logout-tab {

  div.card-header {
    padding: 0px 0px 12px 0px;
  }

  ul.nav-tabs {
    margin: 0px 0px -12px 0px;
  }

  li.nav-item {
    width: 50%;
  }

  a.nav-link {
    font-size: 25px;
    color: $color-muted-lighter;
    text-align: center;
    border: unset;
    box-shadow: unset;
  }

  li.nav-item {
    width: 50%;
  }

  .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #ffff;
    border-color: #1861ac;
  }

  .nav-tabs a.nav-link.active {
    background-color: var(--bg-signup-tab-inactive);
    border: unset
  }
}


.text-muted-lighter {
  color: $color-muted-lighter;
}

.text-black {
  color: black;
}

.rounded-corners {
  border-radius: 8px;
}

.material-icons {
  vertical-align: middle;
  padding-bottom: 3px;
}

#toggle-theme {
  padding-top: 7px;
  
  .nav-item {
    padding: 0px;
  }
}

#toggle-theme-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

#toggle-theme-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

#toggle-theme-label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

#toggle-theme-checkbox:checked + label {
  background: $color-primary-600;
}

#toggle-theme-checkbox:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

svg.toggle-theme-icon {
  transform: rotate(180deg);
  color: var(--color-toggle-theme-icon);
  fill: var(--color-toggle-theme-icon);
}

label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
