<br />
<div class="container body-container row p-0 elevation-4dp">
  <div class="col-6 header-background-color">
    <h2 style="margin-top: 10px;">My Books</h2>
  </div>
  <div class="col-12 p-3">
    <table id="DtBooks" cellpadding="0" cellspacing="0" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Author</th>
          <th>ISBN</th>
          <th>Action</th>
        </tr>
      </thead>
    </table>
  </div>
</div>

@section Scripts{
  <script src="~/js/bookList.js"></script>
  <script type="module" src="~/js/bootstrap-select.js"></script>
}